@import "../../vendor/filament/forms/dist/module.esm.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.filament-tables-container {
    overflow: hidden;
}

.filament-tables-container > :nth-child(2) {
    display: block;
    max-height: 80vh;
    overflow-y: auto;
}

.dark .filament-tables-table > thead > tr {
    background-color: black !important;
}

table {
    display: inline-table;
    overflow: auto;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.filament-tables-tags-column {
    flex-wrap: nowrap !important;
}

.filament-tables-tags-column > span {
    white-space: nowrap;
}

.filament-tables-cell {
    padding: 0;
    margin: 0;
}

canvas {
    max-height: 60vh !important;
}

.footer {
    width: 100%;
}
