@import "../../vendor/filament/forms/dist/module.esm.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.filament-tables-container {
    overflow: hidden;
}

.filament-tables-container > :nth-child(2) {
    display: block;
    max-height: 80vh;
    overflow-y: auto;
}

.dark .filament-tables-table > thead > tr {
    background-color: black !important;
}

table {
    display: inline-table;
    overflow: auto;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.filament-tables-tags-column {
    flex-wrap: nowrap !important;
}

.filament-tables-tags-column > span {
    white-space: nowrap;
}

.filament-tables-cell {
    padding: 0;
    margin: 0;
}

canvas {
    max-height: 60vh !important;
}

@media print {
    canvas {
        width: 100% !important;
        height: auto !important;
        page-break-inside: avoid;
    }

    body {
        overflow: auto !important;
    }

    #chartContainer,
    #legend,
    #myChart {
        page-break-inside: avoid;
    }

    .choices__list--multiple:empty {
        gap: unset !important;
    }
}

.footer {
    width: 100%;
}

@page {
    size: auto;
}
