@import "../../vendor/filament/forms/dist/module.esm.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.filament-tables-container {
    overflow: hidden;
}

.filament-tables-container > :nth-child(2) {
    display: block;
    max-height: 80vh;
    overflow-y: auto;
}

.dark .filament-tables-table > thead > tr {
    background-color: black !important;
}

table {
    display: inline-table;
    overflow: auto;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.filament-tables-tags-column {
    flex-wrap: nowrap !important;
}

.filament-tables-tags-column > span {
    white-space: nowrap;
}

.filament-tables-cell {
    padding: 0;
    margin: 0;
}

canvas {
    max-height: 80vh !important;
}

.lds-spinner {
    display: inline-block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.lds-spinner.overlay-centered {
    top: 50%;
    left: 50%;
    transform: translate(-40px, -40px);
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 10px;
    left: 37px;
    width: 6px;
    height: 16px;
    border-radius: 20%;
    background: rgb(140, 140, 140);
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

[x-cloak] {
    opacity: 100 !important;
}

.overlay {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--overlay-bg);
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.footer {
    width: 100%;
}
